{% extends "FilmBundle::index.html.twig" %}

{% block A %}

 <div class="row">
     
     <div class="col-md-3">
         <h1> Authentification </h1>
         
     </div>
     
     <div class="col-md-9">
            {% block fos_user_content %}
                
            {% endblock  %}
        </div>
 </div>    
        
   {% endblock %}  
        
